html {
  margin: 0;
  margin-top: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif, Shippori Antique;
}
body {
  scroll-behavior: smooth;
}
#background {
  width: 100%;
  background: linear-gradient(
      to bottom,
      rgba(92, 77, 66, 0.8) 0%,
      rgba(92, 77, 66, 0.8) 100%
    ),
    url(../img/bg-masthead.jpg);
  background-size: cover;
  transition: all 0.3 ease;
}

#background a {
  color: rgba(255, 255, 255, 0.7);
}
#background .sticky {
  margin-top: 0;
  width: 100%;
  position: fixed;
  padding: 5px 100px;
  background: #fff;
  height: 70px;
  z-index: 1;
  transition: all 0.3 ease;
  box-shadow: rgba(142, 183, 233, 0.959);
}
#background .sticky a {
  color: #000;
}
#background .sticky a:hover {
  color: rgb(255, 56, 255);
}
#nav a:hover {
  color: white;
}

#hr {
  display: block;
  width: 50px;
  height: 5px;
  color: #f4623a;
  opacity: 1;
  margin: 20px auto;
}
#middle {
  margin-top: 100px;
}
.holder {
  margin-bottom: 50px;
}
.texth1 {
  text-align: center;
  margin-top: 90px;
  font-size: 55px;
  margin-bottom: 10px;
}
#bckp {
  text-align: center;
  font-size: 20px;
  color: rgb(192, 196, 201);
}
.pillcont {
  margin: 35px auto 77px auto;
  display: block;
  background-color: #f4623a;
  font-size: 17px;
  padding: 20px;
  width: 190px;
}
.pillcont:hover {
  background-color: rgb(194, 86, 47);
}
#third {
  width: 100%;
  background-color: rgb(244, 98, 58);
  opacity: 2;
}
#h1-2 {
  text-align: center;
  color: aliceblue;
  font-size: 35px;
}
#hr1 {
  display: block;
  width: 55px;
  height: 4px;
  color: white;
  opacity: 1;
  margin: 20px auto;
}
.holder1 {
  margin-top: 94px;
  margin-bottom: 70px;
  align-items: center;
  justify-content: center;
}
#thirdp {
  text-align: center;
  font-size: 20px;
  color: rgba(231, 229, 229, 0.89);
}
.sec-pill {
  display: block;
  color: black;
  margin: 40px auto;
  background-color: rgb(248, 246, 245);
  font-size: 17px;
  height: 60px;
  width: 180px;
  padding: 20px;
}

#section-fourth {
  width: 100%;
  background-color: white;
}
.holder2 {
  margin-top: 100px;
  margin-bottom: 90px;
}

#hr2 {
  display: inline-block;
  text-align: center;
  width: 55px;
  height: 3px;
  color: #f4623a;
  margin: 5px 50%;
  transform: translate(-60%);
  opacity: 1;
}
.icon {
  display: block;
  text-align: center;
  font-size: 42px;
  font-style: normal;
  color: rgb(230, 76, 49);
  margin-bottom: 15px;
}
.paragh {
  justify-content: center;
  text-align: center;
  font-size: 16 px;
  color: darkgray;
}
.service-h3 {
  justify-content: center;
  text-align: center;
  margin-bottom: 10px;
}
.service-row {
  margin-top: 77px;
  cursor: pointer;
}
.service-row .col-md-3:hover .icon {
  font-size: 48px;
  color: rgb(238, 20, 20);
  transition: all 0.4 ease-in-out;
}
#section-fifth {
  max-width: 100%;
}

.itemwithimage {
  margin: 0 -15px;
  position: relative;
}
.image-hover {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
  opacity: 0;
  background-color: rgba(244, 98, 58, 0.9);
  transition: all 0.3s ease-in-out;
}
.image-hover h6 {
  font-size: 16px;
  color: #d3d1d1b8;
  margin: 60px 22% -20px 22%;
}
.image-hover p {
  font-size: 22px;
  font-weight: 500;
  color: #fff;
  margin: -0 22% 93px 22%;
}
.itemwithimage:hover .image-hover {
  opacity: 0.9;
}
.black {
  background-color: rgb(33, 37, 41) !important;
  width: 100%;
}

.item h2 {
  justify-content: center;
  text-align: center;
  padding-top: 100px;
  margin-bottom: 5px;
  color: white;
}
.pilldwnld {
  display: block;
  color: black;
  margin: 30px auto;
  margin-bottom: 110px;
  background-color: rgb(248, 246, 245);
  font-weight: 600;
  font-size: 18px;
  height: 55px;
  width: 200px;
  padding: 18px;
  cursor: pointer;
}

.up {
  justify-content: center;
  margin-top: 130px;
  margin-bottom: 30px;
}
.up h2 {
  text-align: center;
}
.up hr {
  display: block;
  width: 55px;
  height: 3px;
  color: coral;
  opacity: 1;
  margin: 20px auto;
}
.up p {
  text-align: center;
  font-size: 18px;
}
.inputs {
  height: 60px;
  color: black;
}

.submit {
  margin: 25px auto;
  margin-bottom: 50px;
  display: block;
  background-color: coral;
  font-size: 17px;
  padding: 20px;
  width: 100%;
  cursor: pointer;
}
.last {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 150px;
}
.last p {
  font-family: "Gloria Hallelujah", cursive;
  margin-top: 7px;
}
.center {
  text-align: center;
  margin-bottom: 45px;
  font-family: "Gloria Hallelujah", cursive;
}
